.header 
{
	line-height:150%;
	font-weight:bold;
	text-indent: 10px;
	font-size: 1.5em;
	height: 52px;
	padding-top: 10px;
	padding-bottom: 10px;
	min-width: 1000px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #e5e5e5;
	display:block;
}
body
{
	margin: 0;
	font: 13px / 1.4 Helvetica, arial,
	nimbussansl, liberationsans, freesans,
	clean, sans-serif, "Apple Color Emoji", 
	"Segoe UI Emoji", "Segoe UI Symbol";
	color: #333;
	background-color: #fff;
}
html
{
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
.one-fourth 
{
	width: 25%;
}
.column 
{
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}
.columns 
{
	margin-right: -10px;
	margin-left: -10px;
}
.right 
{
	float: right;
}
.three-fourths 
{
	width: 75%;
}
.page-content 
{
	padding-top: 20px;
}
.container 
{
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}
.tabnav {
margin-top: 0;
margin-bottom: 15px;
border-bottom: 1px solid #ddd;
}
.tabnav-tabs
{
	margin-bottom: -1px;
	display: block;
	box-sizing: border-box;
}
.tabnav-tab.selected {
	color: #333;
	background-color: #fff;
	border-color: #ddd;
	border-radius: 3px 3px 0 0;
}
.tabnav-tab {
display: inline-block;
padding: 8px 12px;
font-size: 14px;
line-height: 20px;
color: #666;
text-decoration: none;
border: 1px solid transparent;
border-bottom: 0;
}
nav{
display: block;
box-sizing: border-box;
}
.tab-content {
position: relative;
}
.contributions-tab {
margin-top: 20px;
}
.contributions-tab {
margin-top: 20px;
}
.single-column {
padding-right: 10px;
padding-left: 10px;
}
.boxed-group {
position: relative;
border-radius: 3px;
margin-bottom: 30px;
}

.boxed-group>h3, .boxed-group .heading {
background-color: #f5f5f5;
margin: 0;
border-radius: 3px 3px 0 0;
border: 1px solid #d8d8d8;
border-bottom: 0;
padding: 9px 10px 10px;
font-size: 14px;
line-height: 17px;
display: block;
}

h3 {
font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
margin-top: 15px;
margin-bottom: 15px;
line-height: 1.1;
}

* {
box-sizing: border-box;
}
user agent stylesheeth3 {
display: block;
font-size: 1.17em;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}

.columns:before {
display: table;
content: "";
}

.columns:after {
display: table;
clear: both;
content: "";
}

.boxed-group.flush .boxed-group-inner {
padding: 0;
}

.mini-repo-list {
list-style: none;
}

.boxed-group-inner {
padding: 1px 10px;
background: #fff;
border: 1px solid #d8d8d8;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
color: #666;
font-size: 13px;
}

ul, ol {
padding: 0;
margin-top: 0;
margin-bottom: 0;
}

li {
display: list-item;
text-align: -webkit-match-parent;
}

.mini-repo-list {
list-style: none;
}

.boxed-group-inner {
padding: 1px 10px;
background: #fff;
border: 1px solid #d8d8d8;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
color: #666;
font-size: 13px;
}
user agent stylesheetul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}




.mini-repo-list>li:first-child .mini-repo-list-item {
border-top: 0;
}

.popular-repos .no-description .mini-repo-list-item {
padding-top: 17px;
padding-bottom: 16px;
}

.mini-repo-list-item {
position: relative;
display: block;
padding: 6px 64px 6px 30px;
font-size: 14px;
border-top: 1px solid #e5e5e5;
}

a {
color: #4078c0;
text-decoration: none;
}

a {
background-color: transparent;
}

user agent stylesheeta:-webkit-any-link {
color: -webkit-link;
text-decoration: underline;
cursor: auto;
}

user agent stylesheetli {
display: list-item;
text-align: -webkit-match-parent;
}

.mini-repo-list {
list-style: none;
}

.boxed-group-inner {
padding: 1px 10px;
background: #fff;
border: 1px solid #d8d8d8;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
color: #666;
font-size: 13px;
}
user agent stylesheetul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}

